/* based on https://github.com/bastienwirtz/homer/blob/main/docs/theming.md#customization-example */

/* font situation */
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
.title {
  font-weight: 700;
}

/* customizations  */

#app {
    min-height: 100%;
    background: linear-gradient(180deg, #FFFFFF, rgba(251, 63, 42, .3));
}

body #bighead div.dashboard-title span {
    font-weight: 800;
}

body #main-section h2 {
    color: #000000;
    font-weight: bold;
}

body #main-section h2 i {
    color: #4A4D20;
}