/* based on https://github.com/bastienwirtz/homer/blob/main/docs/theming.md#customization-example */
:root {
  --white: #FFFFFF;
  --black: #000000;
}

/* accesibility situation  */
/* a lot of elements are not looking good, but that's Homer fault :( */

#app.light :focus-visible {
  outline: none;                     /* only if you fully replace it */
  box-shadow: 0 0 0 5px  var(--white),
              0 0 0 10px var(--black);     /* double ring for contrast */
  border-radius: 4px;
}

#app.dark :focus-visible {
  outline: none;                     /* only if you fully replace it */
  box-shadow: 0 0 0 5px  var(--black),
              0 0 0 10px var(--white);     /* double ring for contrast */
  border-radius: 4px;
}

/* font situation */
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

#app {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
.title {
  font-weight: 700;
}

/* customizations  */
/* header */
#app.light {
    min-height: 100%;
    background: linear-gradient(180deg, var(--white), rgba(251, 63, 42, .18));
}

#app #bighead .dashboard-title span {
    font-weight: 800;
}

/* navbar font */
#app.light #bighead .navbar a {
    color: var(--black);
}

#app.dark #bighead .navbar .navbar-item:hover,
#app.dark #bighead .navbar .navbar-burger:hover,
#app.dark #bighead .navbar .navbar-item:focus,
#app.dark #bighead .navbar .navbar-burger:focus
{
  color: var(--black);
}

#app #bighead .search-label:before {
    color: var(--black);
}

/* main section  */
#app.light #main-section h2 {
    color: var(--black);
    font-weight: bold;
}

#app.dark #main-section h2 {
    color: var(--text-header);
    font-weight: bold;
}

#app.light #main-section h2 i {
    color: var(--text-header);
}

#app.dark #main-section h2 i {
    color: var(--text-header);
}

/* Copy to Clipboard icon re-colorization  */
#app.light #main-section .media .status > i {
    color: var(--text);
}

#app #main-section .media .status > i:hover {
    color: var(--link-hover);
}

/* "quick" objects re-colorization */
#app.light #main-section .media .media-content > p.quicklinks a {
    background-color: var(--black);
}

#app.dark #main-section .media .media-content > p.quicklinks a {
    color: var(--text);
}

#app #main-section .media .media-content > p.quicklinks a:hover {
    color: var(--black);
    background-color: var(--link-hover);
}

/* SVG colorizer */
/* into --highlight-hover = #ECEB01 */
#app.light #main-section .card > a .media-left figure > img {
    /* filter generated for --link color, https://tools.syrup.dev/tools/css-filter-generator */
    filter: brightness(0) saturate(100%)
          invert(94%) sepia(4%) saturate(444%) 
          hue-rotate(19deg) brightness(103%) contrast(95%);
}

#app.dark #main-section .card > a .media-left figure > img {
    /* filter generated for --link color, https://tools.syrup.dev/tools/css-filter-generator */
 filter: brightness(0) saturate(100%)
          invert(39%) sepia(81%) saturate(7493%)
          hue-rotate(6deg) brightness(102%) contrast(104%);
}

/* into --highlight-hover = #ECEB01 */
#app #main-section .card > a:hover .media-left figure > img {
  filter: brightness(0) saturate(100%)
          invert(90%) sepia(56%) saturate(7127%)
          hue-rotate(8deg) brightness(103%) contrast(96%);
}

